h1 {
  color: blue;
}

li{
  color: rgb(100, 20, 70);
}

p{
  color: #eab01c;
}

h4{
  color: rgba(13,90,140,0.3);
}
 body{
   background: lightblue;
 }

/* image background */
 /* body{
   background: url(../images);
   background-repeat: no-repeat;

 } */

div{
  background :blue;
  border: red 10px dashed;
  /* border: orange;
  /* border-width: medium; */
  /* border-width: 5px;
  border-style: solid; */ */
}

span{
  background :red;
  color :white;
}
